<h1>Dashboard</h1>

<div id="chart1" style="width:800px;height:300px;"></div>

<br>
<div id="chart2" style="width:800px;height:300px;"></div>

<br>
<div id="flot-simple" style="width:800px;height:300px;"></div>
<br>
<div id="flot-v-bars" style="width:800px;height:300px;"></div>





